body {
  background-color: #fffde7;
}

.container {
  width: 90%;
  margin: auto;
}

.top-header {
  margin-bottom: 5%;
}

.header-bg {
  background-color: #00bcd4;
}

h2 {
  padding: 1rem;
  margin-top: 0;
}

.page-link {
  text-decoration: none;
  margin: 0.5em;
}



