body {
  background-image: url("../static/images/cityscape-login-page.jpg");
}

.container {
  width: 90%;
  margin: auto;
}

.top-header {
  margin-bottom: 5%;
}

h2 {
  padding: 1rem;
  margin-top: 0;
}

.page-link {
  text-decoration: none;
  margin: 0.5em;
}



